doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title IMDMol dashboard 
        link(rel='stylesheet', href='../../stylesheets/style.css')
    body 
    h1 Wie is volgens jouw de beste sporter van IMD?
   
    .container
            div(class="joris")
                img(src='../../images/joris.PNG') 
                h2 Joris 

            div(class="linde")
                img(src='../../images/linde.PNG') 
                h2 Linde
            
            div(class="pieter")
                img(src='../../images/pieter.PNG')
                h2 Pieter

            div(class="stijn")
                img(src='../../images/stijn.PNG')  
                h2 Stijn

            div(class="filip")
                img(src='../../images/filip.PNG')   
                h2 Filip

            div(class="koen")
                img(src='../../images/koen.PNG')   
                h2 Koen

            div(class="tom")
                img(src='../../images/tom.PNG')
                h2 Tom

            div(class="robby")
                img(src='../../images/robby.PNG') 
                h2 Robby

            


script(src="/primus/primus.js")
script(src="/javascripts/dashboard.js")