doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title IMDMol dashboard 
        link(rel='stylesheet', href='../../stylesheets/style.css')
    body 
    h1 Wie is volgens jou de IMD mol?
   
    .container
            div(class="docent1")
                img(src='../../images/joris.PNG') 
                h2 Joris 
            div(class="docent2")
                img(src='../../images/linde.PNG') 
                h2 Linde
            
            div(class="docent3")
                img(src='../../images/pieter.PNG')
                h2 Pieter

            div(class="docent4")
                img(src='../../images/stijn.PNG')  
                h2 Stijn

            div(class="docent5")
                img(src='../../images/filip.PNG')   
                h2 Filip

            div(class="docent6")
                img(src='../../images/koen.PNG')   
                h2 Koen

            div(class="docent7")
                img(src='../../images/tom.PNG')
                h2 Tom

            div(class="docent8")
                img(src='../../images/robby.PNG') 
                h2 Robby

            


script(src="/primus/primus.js")
script(src="/javascripts/dashboard.js")