doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title IMDMol dashboard 
        link(rel='stylesheet', href='../../stylesheets/style.css')
    body 
    h1 De score van IMD sporters:
   
    .container
            div(class="joris")
                img(src='../../images/joris.PNG') 
                h2 Joris 
                p(class="score") Score: 
                    span 0

            div(class="linde")
                img(src='../../images/linde.PNG') 
                h2 Linde
                p(class="score") Score: 
                    span 0
            
            div(class="pieter")
                img(src='../../images/pieter.PNG')
                h2 Pieter
                p(class="score") Score: 
                    span 0

            div(class="stijn")
                img(src='../../images/stijn.PNG')  
                h2 Stijn
                p(class="score") Score: 
                    span 0

            div(class="filip")
                img(src='../../images/filip.PNG')   
                h2 Filip
                p(class="score") Score: 
                    span 0

            div(class="koen")
                img(src='../../images/koen.PNG')   
                h2 Koen
                p(class="score") Score: 
                    span 0

            div(class="tom")
                img(src='../../images/tom.PNG')
                h2 Tom
                p(class="score") Score: 
                    span 0

            div(class="robby")
                img(src='../../images/robby.PNG') 
                h2 Robby
                p(class="score") Score: 
                    span 0


            


script(src="/primus/primus.js")
script(src="/javascripts/updatevotes.js")